<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

# If the file or directory exists, serve it

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, redirect to index.html

RewriteRule ^ index.html [L]
</IfModule>
